.content {
    width: 1000px;
    max-width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: center;

    &__item {
        padding: 15px;
        color: #929292;

        &__form {
          &__input {
              padding: 10px 20px;
              width: 80%;
              background-color: #fff;
              border: 1px solid #e7eaf4;
              box-shadow: 2px 1px 2px 2px #e7eaf4;
              margin: 15px 0;
              border-radius: 5px;
              outline-color: #0049ff;
          }
          &__cnt {

            &__button__primary {
                padding: 10px 20px;
                font-weight: bold;
                background-color: #0049ff;
                color: #fff;
                border: 1px solid #0049ff;
                border-radius: 5px;
                box-shadow: 2px 1px 2px 2px #e7eaf4;
                cursor: pointer;
            }

            &__button__secondary {
                padding: 10px 20px;
                font-weight: bold;
                background-color: #e8e2f9;
                color: #0049ff;
                border: 1px solid #e8e2f9;
                box-shadow: 2px 1px 2px 2px #e7eaf4;
                border-radius: 5px;
                cursor: pointer;
            }

            &__or {
                padding: 15px;
            }
          }
        }
    }
}